@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Radio Canada', sans-serif;
}

.App {
  background: linear-gradient(to right, #452089, #2a0845, #280a5f);
  background-size: 450%;
  animation: anim 8s forwards infinite ease;
}

@keyframes anim {
  0% {
    background-position-x: 0%;
  }

  50% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0%;
  }
}


.input-group {
  width: 300px !important;
  height: 38px;
  padding: 0 !important;
}

.input-group>* {
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  height: 38px;
}

.btn-custom {
  color: white !important;
  background: #0e0024 !important;
  transition: 0.4s ease !important;
}

.btn-custom:hover {
  background: white !important;
  color: #0e0024 !important;
}

.todo {
  width: 300px;
}

.todo.active {
  opacity: 0.6;
}
.todo.active span{
  text-decoration: line-through;
}

.todo.active .icons {
  display: none;
}

.todo> :is(span, input) {
  display: flex;
  word-wrap: break-word;
  overflow-x: hidden;
  width: 215.37px !important;
  padding: 0 5px;
  border: none;
  outline: none;
}

input:focus {
  outline: none !important;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 4px 8px;
  border-radius: 4px;
  background: #0e0024;
  color: white;
  transition: 0.4s ease-in;
}

.todo .icons {
  width: calc(300px - 215.37px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.todo .icons>i {
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 500px) {

  .input-group,
  .todo {
    width: 90% !important;
  }

  .todo .icons {
    width: calc(90% - 215.37px);
  }
}